_site
.coffeehintrc
.jshintrc
img/Thumbs.db
.DS_Store
._.DS_Store
node_modules
.sass-cache
.ruby-version
assets/fonts/fontawesome-webfont.svg
assets/fonts/fontawesome-webfont.svg~HEAD
resources/font-awesome/fonts/fontawesome-webfont.svg
